<ul class="collection-list">
  <li><%= @collection.name %></li>
</ul>
<br/>
<% @toys.each do |toy| %>
  <% if toy.quantity > 95 %>
    <div class="line-item">
      <img src="<%= toy.image %>" alt="<%= toy.name %>">
      <div class="line-item-details">
        <div class="name"><%= toy.name %></div>
        <div class="description"><%= toy.description %></div>
        <div>
          <p>Reqular Price: $<%= sprintf('%.2f', toy.price) %> Sale Price: <span class="price">$<%= sprintf('%.2f', toy.price * 0.9) %></span></p>
          <p>Quantity: <span class="price"><%= toy.quantity %></span></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="line-item">
      <img src="<%= toy.image %>" alt="<%= toy.name %>">
      <div class="line-item-details">
        <div class="name"><%= toy.name %></div>
        <div class="description"><%= toy.description %></div>
        <div>
          <p>Price: <span class="price">$<%= sprintf('%.2f', toy.price) %></span></p>
          <p>Quantity: <span class="price"><%= toy.quantity %></span></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
