<div class="breadcrumbs"><%= link_to 'Home', root_path %> &gt; <%= link_to @toy.collection.brand.name, @toy.collection.brand %> &gt; <%= link_to @toy.collection.name, @toy.collection %></div>
<h1 class="headline"><%= @toy.name %></h1>
<% if @toy.quantity > 95 %>
  <div class="product-container">
    <img class="product-image" src="<%= @toy.image %>" alt="<%= @toy.name %>">
    <div class="product-title"><%= @toy.full_name %></div>
    <div class="product-details">
      <p>Type: <span class="product-detail-emphasis"><%= @toy.toy_type.type_name %></span> Collection: <span class="product-detail-emphasis"><%= @toy.collection.name %></span></p>
    </div>
    <div class="product-description"><%= @toy.description %></div>
    <div>
      <p>Reqular Price: <%= number_to_currency @toy.price %> Sale Price: <span class="price"><%= number_to_currency (@toy.price * 0.9) %></span></p>
    </div>
    <%= form_tag add_to_cart_path, method: :post, class: 'cart-form' do %>
      <%= hidden_field_tag :id, @toy.id %>
      <%= hidden_field_tag :price, (@toy.price * 0.9) %>
      <%= label_tag :quantity, "Quantity:" %>
      <%= number_field_tag :quantity, '1', in: 1..@toy.quantity %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div>
<% else %>
  <div class="product-container">
    <img class="product-image" src="<%= @toy.image %>" alt="<%= @toy.name %>">
    <div class="product-title"><%= @toy.full_name %></div>
    <div class="product-details">
      <p>Type: <span class="product-detail-emphasis"><%= @toy.toy_type.type_name %></span> Collection: <span class="product-detail-emphasis"><%= @toy.collection.name %></span></p>
    </div>
    <div class="product-description"><%= @toy.description %></div>
    <div>
      <p>Price: <span class="price"><%= number_to_currency @toy.price %></span></p>
    </div>
    <%= form_tag add_to_cart_path, method: :post, class: 'cart-form' do %>
      <%= hidden_field_tag :id, @toy.id %>
      <%= hidden_field_tag :price, @toy.price %>
      <%= label_tag :quantity, "Quantity:" %>
      <%= number_field_tag :quantity, '1', in: 1..@toy.quantity %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div>
<% end %>