<div class="search-results">
  <% if @results.present? %>
    <h1 class="headline">Search Results</h1>
    <br/>
    <% @results.each do |result| %>
      <% if result.quantity > 95 %>
        <div class="line-item">
          <img src="<%= result.image %>" alt="<%= result.name %>">
          <div class="line-item-details">
            <div class="name"><%= link_to result.name, result %></div>
            <div>
              <p>Reqular Price: $<%= sprintf('%.2f', result.price) %> Sale Price: <span class="price">$<%= sprintf('%.2f', result.price * 0.9) %></span></p>
              <p>Quantity: <span class="price"><%= result.quantity %></span></p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="line-item">
          <img src="<%= result.image %>" alt="<%= result.name %>">
          <div class="line-item-details">
            <div class="name"><%= link_to result.name, result %></div>
            <div>
              <p>Price: <span class="price">$<%= sprintf('%.2f', result.price) %></span></p>
              <p>Quantity: <span class="price"><%= result.quantity %></span></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>