<div class="top-nav-bar">
  <nav>
    <ul class="nav-list">
      <li class="nav-links">
        <ul class="nav-list">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <% @navbar_categories.each do |brand| %>
            <li><%= link_to brand.name, brand %></li>
          <% end %>
        </ul>
      </li>
      <li class="nav-login">
        <div>
          <%= link_to cart_path do %>
            <i class="fa-solid fa-cart-shopping"></i>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to orders_path do %>
              <i class="fa-brands fa-first-order"></i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-door-open"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>
</div>

<div class="bottom-nav-bar">
  <%= image_tag "Logo.png" %>
  <div class="nav-search">
    <%= form_tag search_path, method: :get do %>
      <%= collection_select :collection, :id, @search_categories, :id, :name, { include_blank: 'All' }, { class: 'form-control' } %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>
