<!DOCTYPE html>
<html>
  <head>
    <title>Rule Of Two Collectables</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav_bar">
      <nav>

      <ul class="nav-list">
        <li><img src="assets/images/Logo.png"></li>
        <li><%= link_to 'Home', root_path %></li>
        <li>
          <div class="nav-search">
            <%= form_tag search_path, method: :get do %>
              <%= text_field_tag :query, params[:query] %>
              <%= submit_tag "Search" %>
            <% end %>
          </div>
        </li>
      </ul>

    </nav>
  </div>
    <%= yield %>
  </body>
</html>
