<!DOCTYPE html>
<html>
  <head>
    <title>Rule Of Two Collectables</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav_bar">
      <nav>
        <ul class="nav-list">
          <li><%= image_tag "Logo.png" %></li>
          <li>
            <div class="nav-search">
              <%= form_tag search_path, method: :get do %>
                <%= text_field_tag :query, params[:query] %>
                <%= submit_tag "Search" %>
              <% end %>
            </div>
            <br/>
            <ul class="nav-list">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'About', about_path %></li>
              <% @brands.each do |brand| %>
                <li><%= link_to brand.name, brand %></li>
              <% end %>
              <li></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
