<!DOCTYPE html>
<html>
  <head>
    <title>Rule Of Two Collectables</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9cb03bfea0.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://js.stripe.com/v3"></script>
    <script>
      Stripe.setPublishableKey("pk_test_51ON05VHlrMMGKn8wSn9RGJUlgBcwNm67kgYHb2VZ7H0pm149v8B6H5HHGD42O054zVnUejWbxiYA9MDI7X9KjF9q000MJwRlWW");
    </script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>

    <%= yield %>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
